.App{
  font-family: sans-serif;
  text-align: center;
}

#view{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#left{
  border: 1px;
  border-style: solid;
  border-color: black;
  width: 50%;
  height: 400px;
}

#right{
  border: 1px;
  border-style: solid;
  border-color: black;
  width: 50%;
  height: 400px;
}

#uploadbtn{
  padding: 200px;
}

#execute{
  display: flex;
  justify-content: space-between;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 30px;
}